{% extends "index.html" %} 

{% block title %}Grasp The Future{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://scontent-atl3-2.xx.fbcdn.net/v/t39.30808-6/269559402_1614266218965804_5812040880198621537_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=nZyQO6rvF88AX_1yTML&_nc_ht=scontent-atl3-2.xx&oh=00_AT_RfaS9DC_rL_Z2o_Xqe9eV4FlVrAa8fuNksJ9ZvQOG6w&oe=61C400AE" alt="" width="500"height="400">
                    <div class="intro-text">
                        <h1 class="name">Grasp the Future</h1>
                        <hr class="star-light">
                        <span class="skills">Kennesaw State University Senior Design Final Project. 
                           <br> 
                           <br> * Best KSU Senior Design Mechatronics Project 2021. 
                           <br> * 2nd Place Overall KSU Engineering Expo 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


            <!-- Portfolio Grid Section -->

<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>System Overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                   	 <p>- The robot and conveyor system has been upgraded with industry 4.0 concepts in mind. It is now a perfect demonstration of concepts like IIOT, Remote control, Machine vision, Deep Learning, and network based integration.<p>
			 <p>- The system can find payloads on the ground and discern their exact position at runtime. It can then grasp them and sort them into different conveyors based on their type.<p> 
			 <p>- This is useful for order fulfillment centers such as Amazon or Walmart. It could also be useful in places like airport luggage systems.<p>
			 <br> 
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SCADA Application</h2>
                    <hr class="star-primary">
                </div>
            </div>
	    <div class="row">
                <div class="col-lg-6">
		<br>		
		<img class="img-responsive" src="https://media.discordapp.net/attachments/876991329702387713/922121284605853746/Picture1.png" width="500"height="500">                               
                </div>                                                
                <div class="col-lg-6">
			 <p> - Supervisory control and data acquisition or SCADA is a computer system architecture that provides a graphical interface between a user and an industrial system. <p>
			 <p> - These SCADA applications provide some level of control over the system and also provides graphical access to diagnostics and status information for devices in the system or the system as a whole.<p>  
			 <p> - CONTROL : 1) Process start, stop, and reset 2) Manual control of whether high or low pressure is used to grip a box. <p>
			 <p> - VIEW : 1) System and safety status info 2) Active system alarms 3) Pressure level in the gripping mechanism 4) Whether a payload is present in the gripper 5) Whether the gripper is actuated 6) Machine vision and machine learning data for a payload such as type, position, orientation, and whether a lid is required.<p>			
                </div>   
            </div>
        </div>
    </section>


         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>The languages I work with include: HTML, CSS & Python. I work with the Flask Framework for Python development. If you are a non technical person who would like control over your website then I can create a Wordpress website for you. Simplicity, creativity and clarity are the core principles behind my work.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
