{% extends "index.html" %} 

{% block title %}Grasp The Future{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://scontent-atl3-2.xx.fbcdn.net/v/t39.30808-6/269559402_1614266218965804_5812040880198621537_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=nZyQO6rvF88AX_1yTML&_nc_ht=scontent-atl3-2.xx&oh=00_AT_RfaS9DC_rL_Z2o_Xqe9eV4FlVrAa8fuNksJ9ZvQOG6w&oe=61C400AE" alt="" width="500"height="400">
                    <div class="intro-text">
                        <h1 class="name">Grasp the Future</h1>
                        <hr class="star-light">
                        <span class="skills">Kennesaw State University Senior Design Final Project. 
                           <br> Team Members : Joel Mathew Philip, Diego Escobar Escobar, Jeremy Plattel, Timothy Lemley 
			   <br>
                           <br> * Best KSU Senior Design Mechatronics Project 2021. 
                           <br> * 2nd Place Overall KSU Engineering Expo 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


            <!-- Portfolio Grid Section -->

<section id="portfolio">
        <div class="container">
		
		
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>System Overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
		
            <div class="row">
                <div class="col-lg-12 text-center">
                   	 <p>- The robot and conveyor system has been upgraded with industry 4.0 concepts in mind. It is now a perfect demonstration of concepts like IIOT, Remote control, Machine vision, Deep Learning, and network based integration.<p>
			 <p>- The system can find payloads on the ground and discern their exact position at runtime. It can then grasp them and sort them into different conveyors based on their type.<p> 
			 <p>- This is useful for order fulfillment centers such as Amazon or Walmart. It could also be useful in places like airport luggage systems.<p>
			 <br><p>
		</div>
            </div>
		
		
	    <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>System Video</h2>
                    <hr class="star-primary">
                </div>
            </div>
		
	    <div class="row">
                <div class="col-lg-12 portfolio-item">
                    <a href="https://www.youtube.com/watch?v=eYV31RwZh7c&" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://media.discordapp.net/attachments/876991329702387713/922131098358648942/LAB_PHOTO.PNG?width=854&height=540" width="500"height="400" target="_blank" class="img-responsive" alt="Youtube Video">
			<br><p>
                    </a>
                </div>
	    </div>
		
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Machine Vision and Learning</h2>
                    <hr class="star-primary">
                </div>
            </div>
		
	    <div class="row">
		<div class="col-lg-4">	
		</div>
                <div class="col-lg-4">
		<img class="img-responsive" src="https://media.discordapp.net/attachments/876991329702387713/922141296305520690/VISION.jpeg" width="500"height="400">     
                </div> 
		<div class="col-lg-4">
		</div>  
	    </div>	    
            
	    <div class="row">
	 	<div class="col-lg-12 text-left">
			 <br>
			 <p> - Machine Vision : Determine the number of payloads in the workspace, the position ( X,Y ) of the closest payload and the rotation of the closest payload. <p> 
		 	 <p> - For Machine Vision, a program is written to draw a red box around the boxes and find it's centroid. Using this the above data types are found. The robot uses this data to pick up boxes according to the closest distance from home position.  <p>  
			 <p> - Machine Learning : Determines the type of the box using a Neural Network. Model trained using approximately 5000 images taken over the course of the semester. <p>
			 <p> - Machine Learning Steps : 
				 <br>1) Define hyper-parameters to make a functional AI model
				 <br>2) Create a model that accepts 30X30 pixel images and processes them through one 2000 node hidden layer
				 <br>3) Define the different output classes. For this project the five different classes were Black box, Styrofoam box, Cardboard box, Clear box, and Null or “It doesn’t know” 	
				 <br>4) After defining the model, it must be trained. Training is the process of changing the weights of each node over and over again until the model accuracy is high enough. 
				 <br>5) The weights are initially set to random values and then updated based on a concept called ‘gradient descent.’ Between each change, thousands of training images will be passed through the model.<p>	
			 <br>
                 </div>
	    </div> 
		    
			
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SCADA Application</h2>
                    <hr class="star-primary">
                </div>
            </div>
			
	    <div class="row">
                <div class="col-lg-6">
		<img class="img-responsive" src="https://media.discordapp.net/attachments/876991329702387713/922136495425474560/llm.PNG" width="300"height="300">     
			<br>
                </div>                                                
                <div class="col-lg-6 text-left">
			 <p> - SCADA(Supervisory control and data acquisition) is a computer system architecture that provides a graphical interface between a user and an industrial system. <p>
			 <p> - These SCADA applications provide some level of control over the system and also provides graphical access to diagnostics and status information for devices in the system or the system as a whole.<p>  
			 <p> - CONTROL : 
				 <br>1) Process start, stop, and reset 
				 <br>2) Manual control of whether high or low pressure is used to grip a box. <p>
			 <p> - VIEW : 
				 <br>1) System and safety status info 
				 <br>2) Active system alarms 
				 <br>3) Pressure level in the gripping mechanism 
				 <br>4) Whether a payload is present in the gripper 
				 <br>5) Whether the gripper is actuated 
				 <br>6) Machine vision and machine learning data for a payload such as type, position, orientation, and whether a lid is required.	
			         <br><p>
                </div>   
            </div>	    
        </div>
    </section>


         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            
		<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Team Photos at Demo, Expo and Graduation</h2>
                    <hr class="star-light">
                </div>
            </div>
		
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="https://media.discordapp.net/attachments/803478594911076384/922174875525873744/1.png" >
		<br><p>	
		</div>
		<div class="col-lg-4">
                    <img class="img-responsive" src="https://media.discordapp.net/attachments/803478594911076384/922174875974639656/2.jpg" >
		<br><p>
		</div>
		<div class="col-lg-4">
                    <img class="img-responsive" src="https://media.discordapp.net/attachments/803478594911076384/922174931964403723/3.jpg" >
		<br><p>
		</div>
            </div>
		
	   <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="https://media.discordapp.net/attachments/803478594911076384/922174932174135366/4.jpg" >
		<br><p>	
		</div>
		<div class="col-lg-4">
                    <img class="img-responsive" src="https://media.discordapp.net/attachments/803478594911076384/922174932388036678/5.JPG" >
		<br><p>
		</div>
		<div class="col-lg-4">
                    <img class="img-responsive" src="https://media.discordapp.net/attachments/803478594911076384/922174932677431396/6.jpg" >
		<br><p>
		</div>
            </div>
           
	    </div>
        </div>
    </section>

{% endblock%}
		
		
		
		
		
		
		
		
		
